/* CardComponent.css */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 15px;
  }
  
  .card {
    background-image: linear-gradient(rgb(255, 196, 196), rgb(240, 236, 236),rgb(255, 196, 196));
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  #precio-Normal{
    font-size: 1.3em;
    font-weight: bolder;
  }

  #precio-Oferta{
    font-size: 1.9em;
    font-weight: bolder;
  }
  
  #detalles {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(118, 170, 212));
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #precio-Oferta,#por-Año{
    display: inline;
    
  }
  
  /* Añade más estilos según sea necesario */
  